<footer>
  <div class="mx-auto max-w-7xl px-4 py-4 sm:py-12 md:flex md:items-center md:justify-between">
    <p class="mt-8 text-center text-sm/6 text-stone-600 md:mt-0">&copy; 2025 VIPReply, LLC. All rights reserved.</p>
    <p class="mt-8 text-center text-sm/6 text-stone-600 md:mt-0">
      <a href="{{ '/terms' | relative_url }}">Terms of Service</a> &bull;
      <a href="{{ '/privacy' | relative_url }}">Privacy Policy</a> &bull;
      <a href="mailto:hello@vipreply.ai">Contact us</a>
    </p>
  </div>
</footer>