@import "tailwindcss";

@source "../_includes/**/*.{html,md,js}";
@source "../_layouts/**/*.{html,md,js}";
@source "../_pages/**/*.{html,md}";
@source "../_posts/**/*.{html,md}";
@source "../*.{html,md}";

@layer base {
    html {
        font-family:
            "Inter", system-ui, sans-serif; /* Replace 'Inter' with your desired font */
    }
}
